<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGsRTIsM1Ea6cjDIj1133MoKrr4bkX8H4</string>
	<key>GCM_SENDER_ID</key>
	<string>869575665721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Clen.dario</string>
	<key>PROJECT_ID</key>
	<string>calen-13ad3e</string>
	<key>STORAGE_BUCKET</key>
	<string>calen-13ad3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869575665721:ios:303531de3e94cc2b9345e8</string>
</dict>
</plist>